.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-button {
    all: unset;
    padding: 10px;
    font-size: 32px;
}

/* .home-button:hover {
    border-bottom: solid white 1px !important;
}

.boosters-button:hover {
    border-bottom: solid white 1px !important;
}

.collection-button:hover {
    border-bottom: solid white 1px !important;
} */